BODY {
    font-family: 'Quicksand';
    z-index: 0;
}

div.navBar {
    width: 100%;
    min-width: 1100px;
    height: 120px;
    background: #DDF2FF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
}

@font-face {
    font-family: Quicksand;
    src: url(../styles/quicksand.ttf);
}

div.logoNavBar {
    float: left;
    width: 370px;
}

div.logginButtons {
    float: right;
    width: 450px;
    height: 120px;
    background-image: url('../images/logo_ice.png');
    background-position: right;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-right: 10px;
}

div.searchBar {
    width: 100%;
    min-width: 1100px;
    height: 80px;
}

div.topHeader {
    float: left;
    margin-left: 140px;
    padding-top: 25px;
}

div.searchInput {
    float: right;
    padding-top: 25px;
    margin-right: 140px;
}

div.cityButton {
    background: #DDF2FF;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

div.iceCompanyButton {
    width: 330px;
    height: 200px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    background: #FFE3BA;
    margin: 25px 17px 0px 17px;
    display: inline-block;
}

div.topICB {
    height: 135px;
    text-align: center;
    margin-top: 10px;
}

div.bottomICB {
    height: 65px;
    background-image: url('../images/bottomICB.png');
}

div.leftBottomICB {
    float: left;
    line-height: 100%;
}

div.leftBottomICB ul li {
    list-style: none;
    padding-top: 4px;
    font-size: 13px;
    font-weight: 550;
    cursor: pointer;
}

div.rightBottomICB {
    float: right;
    padding-right: 19px;
    font-size: 16px;
    line-height: 90%;
    padding-top: 20px;
    font-weight: 550;
    text-align: center;
}

div.mainApp {
    min-width: 1100px;
    margin-left: 140px;
    margin-right: 140px;
}

div.cityBar {
    width: 100%;
    min-width: 1100px;
    height: 80px;
}

div.cityBarLeft {
    float: left;
    margin-left: 140px;
    padding-top: 25px;
}

div.cityBarRight {
    float: right;
    padding-top: 25px;
    margin-right: 140px;
}

div.smallDott {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    margin-top: -12px;
    margin-left: 150px;
}

button.cityButton {
    display: block;
    background: #DDF2FF;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.521);
    margin: 0 10px 10px 10px;
    font-size: 16px;
    display: inline-block;
}

div.leftCityButton {
    float: left;
    padding: 0 0 0 10px;
    width: 140px;
    padding-top: 4px;
    text-align: left;
}

div.rightCityButton {
    float: right;
    text-align: center;
    width: 26px;
    height: 26px;
    margin-right: 10px;
    background: #FFCFE6;
    border-radius: 8px;
    margin-top: 4px;
    padding-top: 0px;
}

div.singleCityButton {
    width: 200px;
}

div.cityList {
    width: 100%;
    min-width: 1100px;
    padding-left: 140px;
    padding-right: 140px;
}

div.showIceCompany {
    margin: 0 auto;
    width: 1100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    display:flex;
}


div.showIceCompanyLeft {
    background: rgb(255, 227, 186);
    flex-direction: row;
    width: 517px;
}

div.showIceCompanyCenter {
    width: 66px;
    float:left;

    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('../images/iceCompanyCenter.png');
    flex-direction: row;
}
div.showIceCompanyRight {
    background: rgb(221, 242, 255);
    flex-direction: row;
    width: 517px;
    text-align:left;
    padding-left: 80px;
    padding-bottom: 30px;
    padding-top: 25px;
    color:rgb(80, 80, 80)
}
h2.companyWelcome{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 20px;
    font-weight: bold;
}
div.bottomInfo{
        margin: 30px auto;
        width: 1100px;
        font-size: 12px;
}
div.detailsInCompany{
    margin: 0 auto;
    width: 1100px; 
    display: flex;
}
div.productsInCompany{
    flex-direction: row;
    width: 550px;
}
div.mapOfCompany{
    flex-direction: row;
    width: 550px;
}
div.iceInCompany{
    width: 500px;
    min-height: 120px;
    display: flex;
    background: #ddf2ff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 40px 0 40px 0;
}
div.iceInCompanyImg{
    flex-direction: row;
    width: 150px;
    text-align: center;
    vertical-align: middle;
}
div.iceInCompanyCenter{
    flex-direction: row;
    width: 350px;
    text-align:center;
    min-height: 100%;
    padding: 5px 105px 5px 5px;
}
div.iceInCompanyRight{
    width: 80px;
    background: #f9d5ea;    
    font-weight: bold;
    font-size: 18px;
    display: flex;
    margin-left: 400px;
    height: 100%;
    position: absolute;
    padding-left: 10px;
    padding-top: 44px;
}
div.loading_overflow {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    position: absolute;
    min-height: 100vh;
}
img.spinnerImg {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
h2.iceH2{
    padding: 15px 0 0 0;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 0 0;
}
h3.iceH3{
    padding: 0 0 0 0;
    font-size: 12px;
    margin: 10px 0 0 0;
}
iframe{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}